<div ng-controller="PasswordController">
	<div class="page-header">
		<h1>
			{{'changePassword'|translate}}
		</h1>
	</div>

	<div class="form form-horizontal">
		<div class="form-group">
			<label class="control-label col-md-3" for="oldPassword">{{'oldPassword'|translate}}</label>
			<div class="col-md-6">
				<input class="form-control" type="password" id="oldPassword"
					ng-model="data.oldPassword" ng-required="true"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3" for="newPassword">{{'newPassword'|translate}}</label>
			<div class="col-md-6">
				<input class="form-control " type="password" id="newPassword"
					ng-model="data.newPassword" ng-required="true"/>
			</div>
		</div>
		<div class="col-md-offset-3  col-md-6">
			<button type="button" ng-click="changePwd()" class="btn btn-primary btn-lg">
				{{'save'|translate}}
			</button>
			<button type="button" ng-click="cancel()" class="btn btn-default btn-lg"
				data-dismiss="modal">
				{{'cancel'|translate}}
			</button>
		</div>
	</div>
</div>