<div style="margin: 100px 0; ">
    <p class="text-center" style="font-size: 48pt"> REST EXAMPLE APP</p>

    <p style="font-size: 20pt">
        This example application is designated to demonstrate how to build a RESTful application using the cutting-edge technologies, including 
        :<br/>
        1. AngluarJS/Bootstrap as frontend         <br/>
        2. Spring MVC as backend REST API producers        <br/>
        3. JPA 2.1/Spring Data JPA/Hibnerate 4.3 is responsible for data persistence <br/>
    </p>
    
    <p><a class="btn btn-block btn-lg btn-success" href="#/login">START HERE</a></p>
</div>

