<div ng-controller="SearchController">
    <div class="page-header">
        <h1>
            <msg key="search" />
        </h1>
    </div>

    <form class="form form-horizontal" role="form">

        <div class="row">            
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label  col-md-4"><msg key="bundleId"></msg></label>
                    <div class="col-md-8">
                        <input id="bundleId" type="text" class="form-control typeahead" placeholder="Bundle Id"
                               ng-model="criteria.bundleId" autocomplete="off"  typeahead="b for b in searchBundles($viewValue) | filter:$viewValue" ></input>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3"><msg
                            key="defectNumber"></msg></label>
                    <div class="col-md-9">
                        <div class="col-md-5">
                            <input class="form-control col-md-5" type="text"
                                   placeholder="Min" ng-model="criteria.defectNumMin"></input>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" type="text" placeholder="Max"
                                   ng-model="criteria.defectNumMax"></input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label  col-md-4"><msg key="machineNo"></msg></label>
                    <div class="col-md-8">
                        <select class="form-control" ng-model="criteria.machineNo" ng-options="opt.value as opt.label for opt in machineOpts">                 
                        </select>
                    </div>
                </div>
            </div>


            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3"><msg key="len"></msg></label>
                    <div class="col-md-9">
                        <div class="col-md-5">
                            <input class="form-control col-md-5" type="text"
                                   placeholder="Min" ng-model="criteria.totalLenMin"></input>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" type="text" placeholder="Max"
                                   ng-model="criteria.totalLenMax"></input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4"><msg key="customer"></msg></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Cusomter"
                               ng-model="criteria.customer"></input>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3"><msg key="checkTime"></msg></label>
                    <div class="col-md-9">
                        <div class="col-md-5">
                            <div class="input-group date" id="startTime"  data-datetimepicker ng-model="criteria.startTime" data-date-format="YYYY/MM/DD HH:mm" >
                                <input class="form-control col-md-5" type="text"
                                       placeholder="Start"/>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group date" id="endTime" data-datetimepicker  ng-model="criteria.endTime" data-date-format="YYYY/MM/DD HH:mm" >
                                <input class="form-control" type="text" placeholder="End"/>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4"><msg key="specId"></msg></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Spec Id"
                               ng-model="criteria.specId"></input>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="col-md-3">
                </div>
                <div class="col-md-9">
                    <div class="checkbox">
                        <label>
                            <input ng-model="criteria.showField" type="checkbox"/><msg key="showField"/>
                        </label>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-primary" ng-click="search()"><span class="glyphicon glyphicon-search"></span>
                    <msg key="search"></msg></button>
                <button type="reset" class="btn btn-default" ng-click="reset()"><msg key="reset"></msg></button>
            </div>
        </div>
    </form>


    <div class="row toolbar" ng-show="result">
        <div class="pull-right">
            <button type="button" class="btn btn-danger" ng-show="selectedRows && selectedRows.length > 0" ng-click="deleteSelected()"><span
                    class="glyphicon glyphicon-trash"></span> <msg key="deleteSelected"></msg></button>
            <button type="button" class="btn btn-success" ng-click="exportXls()"> <msg key="exportAsXls"></msg></button>
        </div>
    </div>

    <div class="table-responsive" ng-show="result">
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th><msg key="specId"></msg></th>
            <th><msg key="bundleId"></msg></th>
            <th><msg key="len"></msg></th>
            <th><msg key="defectNum"></msg></th>
            <th><msg key="score"></msg></th>
            <th><msg key="grade"></msg></th>
            <th><msg key="minWidth"></msg></th>
            <th><msg key="maxWidth"></msg></th>
            <th><msg key="machineNo"></msg></th>
            <th><msg key="madeOn"></msg></th>
            <th><msg key="operator"></msg></th>
            <th><msg key="customer"></msg></th>
            <th><msg key="actions"></msg></th>
            </tr>
            <tr ng-repeat="stat in result.content" ng-class="{
                        success:rowIsSelected($index)
                    }" ng-click="selectRow($index)">
                <td>{{stat.id}}</td>
                <td>{{stat.specId}}</td>
                <td>{{stat.bundleId}}</td>
                <td>{{stat.checkLen|number:2}}</td>
                <td>{{stat.defectNum}}</td>
                <td>{{stat.score}}</td>
                <td>{{gnames[stat.grade]}}</td>
                <td>{{stat.minWidth|number:2}}</td>
                <td>{{stat.maxWidth|number:2}}</td>
                <td>{{stat.machineNo}}</td>
                <td>{{stat.startTime|date:'yyyy/MM/dd'}}</td>
                <td>{{stat.operator}}</td>
                <td>{{stat.customer}}</td>
                <td><a ng-click="viewDefects($index);
                                        $event.stopPropagation();"><span class="glyphicon glyphicon-list-alt"></span></a>  
                    <a ng-show="user.username && (user.role == 'ADMIN' || user.role == 'ENGINEER')" ng-click="initEdit($index);
                                            $event.stopPropagation();"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a ng-show="user.username && user.role == 'ADMIN'" ng-click="delete($index);
                                            $event.stopPropagation();"><span
                            class="glyphicon glyphicon-trash"></span></a> 
                </td>
            </tr>
        </table>
    </div>
    <div class="row" ng-show="result">
        <div class="col-md-4 pagination">
            <div class="btn-toolbar pull-right" role="toolbar">
                <div class="btn-group  btn-group-sm">
                    <div class="btn btn-default"><msg key="totalPages"/>{{result.totalPages}}</div>
                    <div class="btn btn-default"><msg key="totalItems"/>{{result.totalElements}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <ul class="pagination pagination-sm">
                <li ng-class="{
                            disabled:!!result.firstPage
                        }"><a ng-click="selectPage(0)">&laquo;</a></li>
                <li ng-class="{
                            disabled:!result.hasPreviousPage
                        }"><a ng-click="prePage()">&lsaquo;</a></li>
                <li ng-class="{
                            active:page == p
                        }" ng-repeat="p in displayPages"><a ng-click="selectPage(p)">{{p + 1}}</a></li>
                <li ng-class="{
                            disabled:!result.hasNextPage
                        }"><a ng-click="nextPage()">&rsaquo;</a></li>
                <li ng-class="{
                            disabled:!!result.lastPage
                        }"><a ng-click="selectPage(result.totalPages - 1)">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <div class="modal fade" id="statDialog" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form form-horizontal" role="form" ng-submit="save()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">
                            <msg key="editStat"></msg>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label  col-md-4"><msg key="machineNo"></msg></label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" placeholder="Machine NO"
                                               ng-model="stat.machineNo"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label  col-md-4"><msg key="bundleId"></msg></label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" placeholder="Bundle Id"
                                               ng-model="stat.bundleId"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"><msg key="specId"></msg></label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" placeholder="Spec Id"
                                               ng-model="stat.specId"></input>
                                    </div>
                                </div>
                            </div>                       
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label  col-md-4"><msg key="customer"></msg></label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" placeholder="Customer"
                                               ng-model="stat.customer"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label  col-md-4"><msg key="operator"></msg></label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" placeholder="Operator"
                                               ng-model="stat.operator"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"><msg key="classId"></msg></label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" placeholder="Class Id"
                                               ng-model="stat.classId"></input>
                                    </div>
                                </div>
                            </div>                       
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"><msg key="checkLen"></msg></label>                          
                                    <div class="col-md-8">
                                        <input class="form-control col-md-5" type="text"
                                               ng-model="stat.checkLen"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-3"><msg key="checkTime"></msg></label>
                                    <div class="col-md-9">
                                        <div class="col-md-6">
                                            <div class="input-group date" id="startTime"  data-datetimepicker ng-model="stat.startTime" data-date-format="MM/DD/YYYY hh:mm A/PM" >
                                                <input class="form-control col-md-5" type="text"
                                                       placeholder="Start"/>
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group date" id="endTime" data-datetimepicker  ng-model="stat.endTime" data-date-format="MM/DD/YYYY hh:mm A/PM" >
                                                <input class="form-control" type="text" placeholder="End"/>
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"><msg
                                            key="grade"></msg></label>
                                    <div class="col-md-8">
                                        <input class="form-control col-md-5" type="text"
                                               placeholder="Grade" ng-model="stat.grade"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-3"><msg key="bundleWidth"></msg></label>
                                    <div class="col-md-9">
                                        <div class="col-md-6">
                                            <div class="input-group" id="minWidth">
                                                <input class="form-control col-md-5" ng-model="stat.minWidth"  type="text"
                                                       placeholder="Min"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group" id="maxWidth">
                                                <input class="form-control" type="text" ng-model="stat.maxWidth" placeholder="Max"/>                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"><msg
                                            key="defectNumber"></msg></label>
                                    <div class="col-md-8">
                                        <input class="form-control col-md-5" type="text"
                                               placeholder="Min" ng-model="stat.defectNum"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4"><msg
                                            key="score"></msg></label>
                                    <div class="col-md-8">
                                        <input class="form-control col-md-5" type="text"
                                               placeholder="Score" ng-model="stat.score"></input>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="save()" class="btn btn-primary">
                            <msg key="save"></msg>
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <msg key="cancel"></msg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a id="dl-link"></a>
</div>