<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">AN INTRODUCTION </h3>
    </div>
    <div class="panel-body">
        <p>
            This example application is designated to demonstrate how to build a RESTful application using the cutting-edge technologies, including 
            : </p>
        <ul>
            <li>AngluarJS/Bootstrap as frontend</li>
            <li>Spring MVC as backend REST API producer</li>
            <li>JPA 2.1/Spring Data JPA/Hibnerate 5 is responsible for data persistence</li>
        </ul>
       
        <p><a class="btn btn-block btn-lg btn-success" href="#/login">START HERE</a></p>
    </div>
</div>

